@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    border: none;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-body;
    background: $dark;
    color: $white;
    font-weight: 400;
    margin: 0 auto;
    font-size: 1rem;
    overflow-x: hidden;
    line-height: 1.25;
}

img {
    max-width: 100%;
}

.btn {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 0.875rem;
    text-transform: capitalize;
    border-radius: 4px;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &.bordered {
        border-width: 2px;
    }
}

.description {
    p {
        margin-bottom: 24px;
    }

    ul {
        margin-bottom: 24px;

        li {
            list-style: disc;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem !important;
    }
}

.highlight-primary {
    span {
        color: $primary;
    }
}

.highlight-white {
    span {
        color: #ffffff;
    }
}

.highlight-secondary {
    span {
        color: $secondary;
    }
}

.text-italic {
    font-style: italic;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    border: none;
    outline: none;
}

ul {
    margin-bottom: 0;
}

.z-n1 {
    z-index: -1;
}

section.contactForm {
    padding: 113px 0 33px;
    background: url(../images/background/home-form.png) no-repeat left center;

    @include media-breakpoint-down(sm) {
        padding: 64px 0 33px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-1,
        .text-2,
        .text-3 {
            font-weight: 500;
        }

        .text-1,
        .text-3 {
            font-size: 128px;
            padding-right: 56px;
            line-height: 1;

            @include media-breakpoint-down(sm) {
                font-size: 75px;
            }
        }

        .text-2,
        .text-3 {
            text-align: right;
            color: $primary;
        }

        .text-2 {
            font-size: 64px;
            line-height: 0.6;

            @include media-breakpoint-down(sm) {
                font-size: 42px;
            }
        }
    }

    form {
        .form-group {
            .error {
                display: none;
            }

            label {
                font-weight: 600;
                letter-spacing: -0.16px;
            }

            .form-control {
                background: transparent;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $tertiary;
                font-size: 18px;
                color: $white;
                padding: 0;
                padding-bottom: 10px;
                line-height: 1;
                outline: none;
                box-shadow: none;
                font-weight: 600;
                transition: 0.1s all;

                &::placeholder {
                    color: $tertiary;
                    font-weight: 400;
                }

                &:focus {
                    border-color: $primary;
                }
            }

            .form-check {
                label.form-check-label {
                    color: $tertiary;
                    font-weight: 400;
                }

                input.form-check-input {
                    outline: none;
                    box-shadow: none;
                    background: transparent;
                    transition: 0.1s all;

                    &:checked {
                        border-width: 4px;
                    }

                    &.is-valid,
                    &:valid {
                        border-color: $primary;
                    }
                }
            }
        }
    }
}

section.globalCta {
    .ctaWrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;

        .seemorebtn {
            height: 33px;
            padding: 5px 32px;
            position: absolute;
            top: -19px;
            z-index: 100;
            transition: 0.5s all ease;

            .text {
                transition: 0.5s all ease;
            }

            .arrow-icon {
                transition: 0.5s all ease;
            }
        }

        .content {
            position: absolute;
            bottom: 14px;
            padding: 54px 44px 36px;
            background: $dark;
            width: 100%;
            transition: 0.5s all ease;
            transform: translateY(100%);
            display: flex;
            justify-content: center;

            @include media-breakpoint-down(sm) {
                padding: 24px 16px;
            }
        }

        &:hover {
            .content {
                bottom: 0;
                transform: translateY(0);
                background: #1B1C1E;
            }

            .seemorebtn {
                gap: 0 !important;
                padding: 5px;

                .text {
                    width: 0;
                    font-size: 0;
                }

                .arrow-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.gallery-slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        margin: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #c2d7f7;
}

::-webkit-scrollbar-thumb {
    background: $quaternary;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}