.slide-nav {
    position: fixed;
    height: 100%;
    background-color: $dark;
    width: 100%;
    top: 0;
    z-index: 100000;
    transform: translateX(-100%);
    transition: 0.3s all;

    &.active {
        transform: translateX(0);
    }
}

.slider-progressbar {
    .progress {
        display: block;
        width: 100%;
        height: 6px;
        overflow: hidden;
        border-radius: 7px;
        background-color: #21355A;
        background-image: linear-gradient(to right, #F0C324, #F0C324);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 0.4s ease-in-out;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

header.header {
    background: $dark;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
    
    .serviceBtn {
        // background: $primary;
        height: 63px;
        color: $white;
        text-transform: capitalize;
        font-weight: 700;
        font-style: italic;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

section.banner {
    background: linear-gradient(274deg, #24478D 0%, #67B2F2 100%);
    background-size: contain;
    min-height: 500px;

    @include media-breakpoint-down(xl) {
        background-size: cover;
        background-position: right center;
    }

    @include media-breakpoint-down(sm) {
        background: linear-gradient(274deg, #24478D 0%, #67B2F2 100%);
    }

    .banner__heading {
        font-size: 96px;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -4.8px;
        background: linear-gradient(180deg, #FFF 11.72%, #C0CEEA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-down(lg) {
            font-size: 75px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 48px;
        }
    }

    .banner__content {
        font-size: 20px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }
}

section.serviceBanner {
    background: linear-gradient(274deg, #24478D 0%, #67B2F2 100%);
    background-size: contain;
    min-height: 500px;

    @include media-breakpoint-down(xl) {
        background-size: cover;
        background-position: right center;
    }

    .banner__heading {
        font-size: 82px;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -4.8px;
        background: linear-gradient(180deg, #FFF 11.72%, #C0CEEA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-down(lg) {
            font-size: 75px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 60px;
        }
    }

    .there-in-a-flush {
        position: absolute;
        top: 0;
        left: 1%;
    }
}

// Home Page
main.homepage {
    .homebanner {
        .slick-prev {
            left: 10%;
            z-index: 1;
        }

        .slick-next {
            right: 10%;
        }
    }

    .rapid-van {
        .rapid-van-slider {
            .slick-slide {
                display: flex;
                justify-content: center;
            }
        }

        img.van {
            @include media-breakpoint-down(xl) {
                height: 120px;
            }

            @include media-breakpoint-down(lg) {
                height: 90px;
            }
        }
    }

    section.trusted {
        background: linear-gradient(102deg, #0B1934 0%, #13264A 100%);

        .trusted-bg {
            mix-blend-mode: soft-light;
        }

        .trusted-main-slider {
            .slick-slide {
                height: 800px;

                @include media-breakpoint-down(lg) {
                    height: 450px;
                }

                @include media-breakpoint-down(sm) {
                    height: 350px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .trusted-thumbnail-slider {
            .slick-arrow {
                &.slick-prev {
                    left: -55px;
                    z-index: 1000;

                    @include media-breakpoint-down(sm) {
                        left: -15px;
                    }
                }

                &.slick-next {
                    right: -43px;

                    @include media-breakpoint-down(sm) {
                        right: 2px;
                    }
                }

                &:before {
                    display: none;
                }

                &.slick-disabled {
                    display: none;
                }

                .custom-prev-arrow {
                    transform: rotate(180deg);
                }
            }

            .slick-slide {
                margin: 0 5px;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    section.blue-gradient {
        background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
    }

    section.welcome {
        position: relative;
        z-index: 1;
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 60px 0;
        }

        .awardCard {
            padding: 21px 24px;
            background: rgba(23, 157, 219, 0.2);
            text-align: center;

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 6px;
            }
        }

        .welcome-circle-bg {
            width: 60rem;
            height: 60rem;
            filter: blur(500px);
        }

        .welcome-bg {
            mix-blend-mode: soft-light;
        }
    }

    section.help {
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .helpCard {
            position: relative;
            z-index: 1;
            transition: 0.35s all ease;
            height: 500px;

            @include media-breakpoint-down(sm) {
                height: 218px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(7, 23, 53, 0.95);
                padding: 32px 27px 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                transition: 0.35s all ease;

                .title {
                    font-size: 24px;
                    width: 100%;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: capitalize;
                }

                .btn {
                    height: 45px;
                    display: inline-flex;
                }

                &:hover {
                    background: rgba(7, 23, 53, 0);
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    section.process {
        background: imgUrl('three-step-process-bubble.png') center;
        background-size: contain;
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .processCard {
            background: rgba(23, 157, 219, 0.2);
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            position: relative;
            padding: 21px 24px;
            transition: 0.3s all;
            opacity: 0.5;

            .number {
                position: absolute;
                font-size: 24px;
                font-weight: 800;
                top: 12px;
                left: 12px;
                color: $secondary;
            }

            .arrow {
                position: absolute;
                right: -16px;
                top: 42%;
                transition: 0.3s all;
                opacity: 0;
            }

            &:hover {
                opacity: 1;
                transform: scale(1.05);

                .arrow {
                    opacity: 1;
                }
            }
        }
    }

    section.expect {
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .expect-slider {
            .box {
                position: relative;
                width: 274px;
                height: 492px;
                margin: 16px 0;
                margin-right: 1.125rem;
                z-index: 1;
                transition: 0.35s all ease;

                img.image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .overlay {
                    position: absolute;
                    background: linear-gradient(rgba(18, 32, 57, 0.9) 0% 65%, #152F5F 100%);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    text-transform: capitalize;
                    font-size: 24px;
                    padding: 19px 16px;
                    font-weight: 800;
                    line-height: 1;
                    display: flex;
                    align-items: flex-end;
                    transition: 0.35s all ease;
                }

                &:hover {
                    transform: scale(1.05);

                    .overlay {
                        opacity: 0;
                    }
                }

                img {
                    position: relative;
                    z-index: -2;
                }
            }
        }
    }

    section.project {
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .main {
            background: rgba(123, 157, 219, 0.2);
            padding: 30px;

            @include media-breakpoint-down(sm) {
                padding: 48px 16px;
            }
        }
    }

    section.customers {
        background: imgUrl('what-customers-say-bubble.png') left center;

        padding: 110px 0 140px;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .testimonials-slider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
            }

            .testimonial {
                width: 352px;
                margin-right: 1rem;
                margin-top: 2rem;
                padding: 28px;
                background: $dark-blue;
                position: relative;

                .quote {
                    position: absolute;
                    top: -33px;
                    left: 21px;
                }

                hr {
                    margin: 34px 0;
                }

                .image {
                    height: 107px;
                    width: 107px;
                    background: $dark-grey;
                    border-radius: 100px;
                    color: $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    font-weight: 700;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    section.whyUs {
        padding: 140px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .whyusCard {
            background: rgba(23, 157, 219, 0.2);
            padding: 30px;
            height: 100%;
        }
    }

    .circle-gradient {
        opacity: 0.5;
        background: #00AEEF;
        filter: blur(500px);
        height: 1524px;
        width: 1524px;
        z-index: 0;
    }

    .circle-gradient-1 {
        position: absolute;
        left: -40%;
        top: -20%;
    }

    .circle-gradient-2 {
        position: absolute;
        left: -40%;
        bottom: -20%;
    }

    .circle-gradient-3 {
        position: absolute;
        left: -40%;
        bottom: -60%;
    }

    section.pricematching {
        background: linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        padding-top: 97px;

        @include media-breakpoint-down(sm) {
            padding-top: 80px;
        }
    }
}

// About Us Page
main.aboutUsPage {
    background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);

    section.mission {
        background: linear-gradient(115deg, #142445 0%, #1A356D 100%);
        padding: 58px 96px 0;

        @include media-breakpoint-down(xl) {
            padding: 58px 24px 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 38px 16px 0;
        }

        .rapidContactCard {
            background: #0F203E;
            padding: 28px;
            height: 100%;
            display: flex;
            flex-direction: column;

            img.heroImage {
                width: 100%;
                height: 380px;
                object-fit: cover;
            }
        }
    }

    section.services {
        .serviceCard {
            img.heroImage {
                width: 100%;
                height: 544px;
                object-fit: cover;
                object-position: top;
            }

            .title {
                background: #152F5F;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;
            }

        }
    }

    section.stakeholders {
        padding: 71px 0;

        article.stakeholderCard {
            background: #152F5F;
        }
    }

    section.review {
        &#about-review {
            .slick-arrow {
                &.slick-prev {
                    left: -62px;
                }

                &.slick-next {
                    right: -50px;
                }

                &::before {
                    display: none;
                }

                &.slick-disabled {
                    opacity: 0.3;
                }

                .custom-prev-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .customersSlider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

// Services Page
main.servicesPage {
    #servicesSlider {
        .slick-slide {
            margin: 0 6px;
        }
    }

    section.how-can-we-help {
        background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
        padding: 125px 0;

        @include media-breakpoint-up(xl) {
            .serviceHelpCardRow {
                flex: 0 0 20%;
                max-width: 20%;
            }
        }

        .serviceHelpCard {
            width: 100%;
            height: 365px;
            position: relative;
            z-index: 1;
            transition: 0.35s all ease;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }

            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(7, 23, 53, 0.95);
                padding: 15px 24px;
                transition: 0.35s all ease;
                display: flex;
                align-items: flex-end;

                .title {
                    font-size: 22px;
                    width: 100%;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: capitalize;
                    color: $white;
                }

                &:hover {
                    background: rgba(7, 23, 53, 0);
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    section.why-hire-us {
        background: imgUrl('why-hire-us.png') left bottom, linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        padding: 64px 0;

        @include media-breakpoint-down(xl) {
            background: linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        }

        .whyHireUsCard {
            background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
            height: 100%;
            padding: 27px 20px;
        }
    }
}

// Faq Page
main.faqPage {
    background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
    padding: 101px 0;

    .faq-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }

        .box {
            position: relative;
            padding: 39px 22px;
            margin: 16px 0;
            margin-right: 1rem;
            z-index: 1;
            background: #152F5F;
            transition: 0.35s all ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

// Careers Page 
main.careersPage {
    background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
    padding: 78px 0 179px;

    .careerForm {
        background: $darker-blue;
        padding: 92px 78px;

        @include media-breakpoint-down(xl) {
            padding: 64px 24px;
        }

        @include media-breakpoint-down(sm) {
            padding: 48px 16px;
        }

        ul {
            columns: 2;
            column-gap: 20px;

            li {
                list-style: disc;
                font-size: 18px;
                font-weight: 300;
                padding: 10px 0;
            }
        }

        form {
            .form-group {
                .error {
                    display: none;
                }

                label {
                    font-weight: 600;
                    letter-spacing: -0.16px;
                }

                .form-control {
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid $white;
                    font-size: 18px;
                    color: $white;
                    padding: 0;
                    padding-bottom: 10px;
                    line-height: 1;
                    outline: none;
                    box-shadow: none;
                    font-weight: 600;
                    transition: 0.1s all;

                    &::placeholder {
                        color: $white;
                        font-weight: 300;
                        opacity: 0.5;
                    }

                    &:focus {
                        border-color: $primary;
                    }
                }

                .form-check {
                    label.form-check-label {
                        color: $white;
                        font-weight: 400;
                    }

                    input.form-check-input {
                        outline: none;
                        box-shadow: none;
                        background: transparent;
                        transition: 0.1s all;

                        &:checked {
                            border-width: 4px;
                        }

                        &.is-valid,
                        &:valid {
                            border-color: $primary;
                        }
                    }
                }

                input[type="file"] {
                    display: none;
                }

                &.upload {
                    label {
                        padding: 39px 16px;
                        border: 1px dotted $primary;
                    }
                }
            }
        }
    }
}

// Home Safety Inspection page
main.homeSafetyInspectionPage {
    section.introduction {
        background: url(../images/background/home-form.png) no-repeat left center, linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        padding: 120px 0 104px;

        @include media-breakpoint-down(xl) {
            padding: 93px 0 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 80px 0 0;
        }

        .homeSafetyInspectionGuideImage {
            @include media-breakpoint-only(xl) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    section.propertyDamageProtection {
        padding: 89px 0;

        @include media-breakpoint-down(xxl) {
            padding: 89px 0 0;
        }
    }
}

// Blogs Page
main.blogsPage,
main.blogInnerPage {
    .divider {
        width: 2px;
        height: 100%;
        background: $grey-3;
    }

    .blogCard {
        height: 100%;
        display: flex;
        flex-direction: column;

        .image {
            width: 100%;
            height: 274px;
            background: $light;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            color: $white;
            padding: 28px;
            background: #0C1C38;

            .divider {
                background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
                height: 3px;
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}

main.blogInnerPage {
    section.section_1,
    section.section_4 {
        .heroImage {
            height: 326px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    section.section_2 {
        .heroImage {
            min-height: 326px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

// Book Online Page
main.bookOnlinePage {
    padding: 80px 0;

    form {
        .form-group {
            .error {
                display: none;
            }

            label {
                font-weight: 600;
                letter-spacing: -0.16px;
            }

            .form-control {
                background: transparent;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid $tertiary;
                font-size: 18px;
                color: $white;
                padding: 0;
                padding-bottom: 10px;
                line-height: 1;
                outline: none;
                box-shadow: none;
                font-weight: 600;
                transition: 0.1s all;

                &::placeholder {
                    color: $tertiary;
                    font-weight: 400;
                }

                &:focus {
                    border-color: $primary;
                }
            }

            .form-check {
                label.form-check-label {
                    color: $tertiary;
                    font-weight: 400;
                }

                input.form-check-input {
                    outline: none;
                    box-shadow: none;
                    background: transparent;
                    transition: 0.1s all;

                    &:checked {
                        border-width: 4px;
                    }

                    &.is-valid,
                    &:valid {
                        border-color: $primary;
                    }
                }
            }
        }
    }
}

// Memberships Page
main.membershipsPage {
    section.introduction {
        background: url(../images/background/home-form.png) no-repeat left center, $dark-grey;
        padding: 93px 0;

        @include media-breakpoint-down(xl) {
            padding: 93px 0 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 80px 0 0;
        }

        .membershipIntroductionImg {
            @include media-breakpoint-only(xl) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }

    section.comparison {

        .comparison1,
        .comparison2 {
            height: 100%;

            .title {
                height: 118px;
                padding: 16px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 1;
                }

                img {
                    max-height: 68px;
                }
            }

            .table {
                margin: 0;

                tbody,
                td,
                tfoot,
                th,
                thead,
                tr {
                    border: 0;
                }

                td {
                    padding: 28px;

                    @include media-breakpoint-down(sm) {
                        padding: 16px;
                    }
                }
            }
        }

        .comparison1 {
            background: #2A2A2B;

            .table {
                font-size: 20px;
                font-weight: 300;
                --bs-table-bg: #4E4E4E;
                --bs-table-color: $white;
                --bs-table-striped-color: $white;
                --bs-table-striped-bg: #2A2A2B;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
        }

        .comparison2 {
            background: $primary;

            .table {
                font-size: 20px;
                font-weight: 300;
                --bs-table-bg: #25C4FF;
                --bs-table-color: $white;
                --bs-table-striped-color: $white;
                --bs-table-striped-bg: #00AEEF;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
        }
    }

    section.why-us {
        background: linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        padding: 107px 0 165px;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .membershipSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                background-color: #253E6F;
                padding: 37px 20px;
                margin: 0 9px;
            }
        }
    }
}

// Blocked Drain Services Page
main.blockedDrainServicesPage {
    background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);

    section.restore {
        border-radius: 0 0 100% 100%;
        padding: 114px 0;
        background: linear-gradient(115deg, #142445 0%, #1A356D 100%);

        @include media-breakpoint-down(lg) {
            border-radius: 0 0 20% 20%;
        }

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
            border-radius: 0 0 10% 10%;
        }
    }

    section.innerServices {
        .expect-slider {
            .box {
                position: relative;
                width: 274px;
                margin: 16px 0;
                margin-right: 1.125rem;
                z-index: 1;
                transition: 0.35s all ease;

                .overlay {
                    position: absolute;
                    background: linear-gradient(rgba(18, 32, 57, 0.9) 0% 65%, #152F5F 100%);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    text-transform: capitalize;
                    font-size: 24px;
                    padding: 19px 16px;
                    font-weight: 800;
                    line-height: 1;
                    display: flex;
                    align-items: flex-end;
                    transition: 0.35s all ease;
                }

                &:hover {
                    transform: scale(1.05);

                    .overlay {
                        opacity: 0;
                    }
                }

                img {
                    position: relative;
                    z-index: -2;
                }
            }
        }
    }

    section.about {
        .callRapidCard {
            &.primaryborder {
                border: 6px solid $primary;
                box-sizing: border-box;
            }

            img.heroImage {
                object-position: center;
            }

            .overlay {
                background: linear-gradient(180deg, rgba(21, 47, 95, 0.00) 0%, #152F5F 100%);
                padding: 28px;

                p {
                    font-size: 48px;

                    @include media-breakpoint-down(lg) {
                        font-size: 32px;
                    }
                }
            }
        }
    }

    section.key-points {
        .waterJettingCard {
            .svg {
                left: -11px;
                top: 15%;
            }

            .number {
                left: 10px;
            }
        }
    }
}

// Emergency Plumbing Services Page 
main.emergencyPlumbingServicesPage {
    section.introduction {
        padding: 143px 0;
        position: relative;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }
    }

    section.trustworthy-plumbers {
        .trustCard {
            background: #1D1D1E;
            min-height: 425px;
            height: 100%;
        }
    }

    section.serviceFaq {
        .faq-slider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
            }

            .box {
                position: relative;
                padding: 39px 22px;
                margin: 16px 0;
                margin-right: 1rem;
                z-index: 1;
                background: #222224;
                transition: 0.35s all ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

main.hotWaterServicesPage,
main.tapsAndToiletsServicePage,
main.rainwaterServicePage,
main.gasPlumbingServicePage,
main.generalPlumbingServicePage,
main.propertyManagersServicePage,
main.leakDetectionServicePage,
main.renovationPlumbersServicePage,
main.roofingGutteringServicePage,
main.septicSystemsServicePage,
main.backflowPreventionServicePage,
main.waterFiltersServicePage,
main.commercialPlumbingServicePage,
main.schoolsServicePage {
    section.introduction {
        background: imgUrl('hotwaterservices_introduction.png') right center, linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);
    }

    section.help {
        background: linear-gradient(102deg, #13264A 0%, #0B1934 100%);
        padding: 125px 0;

        @include media-breakpoint-down(sm) {
            padding: 80px 0;
        }

        .helpCard {
            position: relative;
            z-index: 1;
            transition: 0.35s all ease;
            height: 492px;

            img.image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(7, 23, 53, 0.95);
                padding: 32px 27px 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                transition: 0.35s all ease;

                .title {
                    font-size: 24px;
                    width: 100%;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: capitalize;
                }

                .btn {
                    height: 45px;
                    display: inline-flex;
                }

                &:hover {
                    background: rgba(7, 23, 53, 0);
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        .aboutCard {
            background: #142647;
            height: 100%;
            min-height: 425px;

            &.dark {
                background: #0D2143;
            }

            &.light {
                background: $darker-blue;
            }

            .mainImg {
                height: 100%;
            }
        }

        .innerServiceFaqSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
            }

            .box {
                position: relative;
                margin: 16px 0;
                margin-right: 1rem;
                z-index: 1;
                background: #112649;
                transition: 0.35s all ease;
                
                .title {
                    padding: 24px 16px;
                }
                
                .description {
                    padding: 39px 22px;
                }

                &.dark {
                    background: #0D2143;
                }

                &.light {
                    background: $darker-blue;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .innerServiceListingSlider {
            .slick-slide {
                margin: 10px 6px;
            }
        }
    }
}

main.tapsAndToiletsServicePage {
    background: #13264A;

    section.introduction {
        border-radius: 0 0 100% 100%;
        padding: 140px 0 200px;
        background: imgUrl('hotwaterservices_introduction.png') right center, linear-gradient(115deg, #142445 0%, #1A356D 100%);

        @include media-breakpoint-down(xxl) {
            border-radius: 0 0 30% 30%;

        }

        @include media-breakpoint-down(xl) {
            background: linear-gradient(115deg, #142445 0%, #1A356D 100%);
            padding-bottom: 0;
        }

        @include media-breakpoint-down(lg) {
            border-radius: 0 0 10% 10%;
            padding: 80px 0 0;
        }

        .plumberImage {
            @include media-breakpoint-only(xl) {
                width: 70%;
            }

            @include media-breakpoint-up(xl) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

    section.help {
        background: #13264A;
    }

    .services {
        .tapstoiltesservices-slider {
            .box {
                height: 456px;

                img {
                    border-radius: 0 0 35px 35px;
                }

                .overlay {
                    background: #152F5F;
                    border-radius: 100px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    min-height: 64px;
                    padding: 12px 6px 32px;
                    z-index: 9;
                }

                .button {
                    position: absolute;
                    bottom: -26px;
                    background: $primary;
                    border-radius: 100px;
                    z-index: 10;
                }
            }

            .slick-slide {
                position: relative;
                margin: 0 21px 30px;
                display: flex;
                justify-content: center;
            }
        }
    }

    .hot-water-faq-slider {
        .box {
            background: #0D2143 !important;
        }
    }
}

@include media-breakpoint-up(md) {

    main.rainwaterServicePage,
    main.septicSystemsServicePage,
    main.schoolsServicePage {
        .introduction {
            background: imgUrl('hotwaterservices_introduction.png') right center;
        }
    }
}

main.gasPlumbingServicePage,
main.leakDetectionServicePage,
main.commercialPlumbingServicePage {
    .introduction {
        background: #0D1E3F !important;
        padding: 36px;

        @include media-breakpoint-down(sm) {
            padding: 36px 16px;
        }
    }
}

main.generalPlumbingServicePage,
main.renovationPlumbersServicePage {
    .services {
        .tapstoiltesservices-slider {
            .slick-slide {
                position: relative;
                margin: 0 21px 30px;
                display: flex;
                justify-content: center;
                height: 456px;

                img {
                    width: 330px;
                    border-radius: 0 0 35px 35px;
                    object-fit: cover;
                }

                .overlay {
                    background: #152F5F;
                    border-radius: 100px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    min-height: 64px;
                    padding: 12px 6px 32px;
                    z-index: 9;
                }

                .button {
                    position: absolute;
                    bottom: -26px;
                    background: $primary;
                    border-radius: 100px;
                    z-index: 10;
                }
            }
        }
    }

    section.about {
        .callRapidCard {
            &.primaryborder {
                border: 6px solid $primary;
                box-sizing: border-box;
            }

            img.heroImage {
                object-position: center;
            }

            .overlay {
                background: linear-gradient(180deg, rgba(21, 47, 95, 0.00) 0%, #152F5F 100%);
                padding: 28px;

                p {
                    font-size: 44px;

                    @include media-breakpoint-down(lg) {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

main.propertyManagersServicePage,
main.schoolsServicePage {
    background: #13264A;

    section.introduction {
        border-radius: 0 0 100% 100%;
        padding: 140px 0 200px;
        background: imgUrl('hotwaterservices_introduction.png') right center, linear-gradient(115deg, #142445 0%, #1A356D 100%);

        @include media-breakpoint-down(xxl) {
            border-radius: 0 0 30% 30%;
        }

        @include media-breakpoint-down(xxl) {
            background: linear-gradient(115deg, #142445 0%, #1A356D 100%);
        }

        @include media-breakpoint-down(xl) {
            padding-bottom: 0;
        }

        @include media-breakpoint-down(lg) {
            border-radius: 0 0 10% 10%;
            padding: 80px 0 0;
        }

        .strataImage {
            @include media-breakpoint-only(xl) {
                width: 60%;
            }

            @include media-breakpoint-up(xl) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .rounded-xl {
            border-radius: 15px !important;
        }
    }

    section.help {
        background: #13264A;
    }

    .hot-water-faq-slider {
        .box {
            background: #0D2143 !important;
        }
    }
}

main.leakDetectionServicePage,
main.commercialPlumbingServicePage {
    section.help {
        section.services {
            background: linear-gradient(126deg, #253B66 7.98%, #244990 96.65%);

            .box {
                position: relative;
                width: 100%;
                z-index: 1;
                transition: 0.35s all ease;
                height: 565px;

                .overlay {
                    position: absolute;
                    background: linear-gradient(rgba(18, 32, 57, 0.9) 0% 65%, #152F5F 100%);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    text-transform: capitalize;
                    font-size: 24px;
                    padding: 19px 16px;
                    font-weight: 700;
                    line-height: 1;
                    display: flex;
                    align-items: flex-end;
                    transition: 0.35s all ease;
                }

                &:hover {
                    transform: scale(1.05);

                    .overlay {
                        opacity: 0;
                    }
                }

                img {
                    position: relative;
                    z-index: -2;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

main.roofingGutteringServicePage {
    .about {
        background: linear-gradient(115deg, #142445 0%, #1A356D 100%);
        padding: 60px 96px;

        @include media-breakpoint-down(xl) {
            padding: 48px 16px;
        }

        .aboutCard {
            background: #142647;
            height: 100% !important;
            padding: 28px;

            @include media-breakpoint-down(sm) {
                padding: 24px 8px;
            }

            .mainImg {
                height: 381px !important;
            }
        }
    }
}

main.waterFiltersServicePage {
    .introduction {
        background: imgUrl('hotwaterservices_introduction.png') right 400%, linear-gradient(102deg, #0B1934 0%, #13264A 100%) !important;
    }
}

main.commercialPlumbingServicePage {
    section.services {
        background: transparent !important;
    }
}

main.suburbsPage {
    .areatop {
        .alphbetwrap {

            .areas_allSearch,
            .areas_alphabet {
                display: inline-block;
                background-color: #262627;
                color: $white;
                cursor: pointer;
                font-size: 1.15rem;
                text-transform: uppercase;
                transition: 0.35s all ease;
                height: 47px;
                width: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;

                &:hover {
                    color: $white;
                    background-color: $primary;
                }
            }

            .areas_allSearch {
                width: 124px;
            }

            .active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .areawrap {
        background: #132649;
        border-radius: 80px 80px 0 0;
        padding: 137px 0;

        .arealistwrap {
            ul {
                margin-bottom: 0;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 0 2rem;

                li {
                    display: inline-block;
                    padding: 0.25rem 0;

                    a {
                        font-size: 1rem;
                        color: $white;

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                .show-more {
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .areahide {
                display: none;
            }

            .mbottom {
                margin-bottom: 7.2rem;

                @media screen and (max-width: 576px) {
                    margin-bottom: 2rem;
                }
            }
        }

        .arealisthide {
            display: none;
        }

        .areas_loadMoreWrap {
            position: relative;
            text-align: center;
            padding: 3rem 0 1.6rem;

            a {
                font-weight: bold;
                color: $white;
                font-size: 1.2rem;
                padding: 1rem;
                width: 13.2rem;
                display: inline-block;
                text-align: center;
                border-radius: 0;
                background-color: $primary;

                &:hover {
                    background-color: $secondary;
                    color: $white;
                }
            }
        }
    }

    div.areas_droplist {
        position: relative;
        z-index: 9;
    }

    div.areas_droplist>div.caption {
        border: 1px solid #c4c4c4;
        padding: 11px 24px;
        border-radius: 0;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0.5rem;
            top: 35%;
            border: solid $primary;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: all 0.35s ease;
        }
    }

    div.areas_droplist>div.list {
        position: absolute;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 0 0 3px 3px;
        display: none;
    }

    div.areas_droplist>div.list>div.item {
        padding: 11px 24px;
        background-color: #cecece;
        cursor: pointer;
    }

    div.areas_droplist>div.list>div.item.selected {
        font-weight: bold;
    }

    div.areas_droplist>div.caption:hover,
    div.areas_droplist>div.list>div.item:hover {
        background-color: $primary;
        color: #fff;
    }

    div.areas_droplist.open>div.caption {
        border-radius: 3px 3px 0 0;
        border-bottom: solid 1px #999;
    }

    div.areas_droplist.open>div.list {
        display: block;
        z-index: 99;
    }
}

main.suburbInnerPage {
    section.introduction {
        .hero-image {
            height: 326px;
        }
    }

    section.about {
        ul {
            @include media-breakpoint-only(md) {
                column-count: 2;
                column-gap: 32px;
            }

            @include media-breakpoint-up(xl) {
                column-count: 2;
                column-gap: 32px;
            }
            
            li {
                list-style: disc;
                font-size: 24px;
                padding: 8px 0;
                font-weight: 300;
            }
        }
    }

    section.content {
        .content-image {
            min-height: 650px;

            @include media-breakpoint-down(sm) {
                min-height: 400px;
            }
        }
    }
}