header.header {
    .serviceBtn {
        background: $primary;
        height: 63px;
        color: $white;
        text-transform: capitalize;
        font-weight: 700;
        font-style: italic;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

main.homepage {
    section.banner {
        position: relative;
        display: flex;
        justify-content: center;

        .rapid-van {
            position: absolute;
            bottom: 0;
            margin: 0 auto;
        }
    }

    section.form {
        padding: 113px 0 33px;
        background: url(../images/background/home-form.png) no-repeat left center;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-1,
            .text-2,
            .text-3 {
                font-weight: 500;
            }

            .text-1,
            .text-3 {
                font-size: 128px;
                padding-right: 56px;
                line-height: 1;
            }

            .text-2,
            .text-3 {
                text-align: right;
                color: $primary;
            }

            .text-2 {
                font-size: 64px;
                line-height: 0.6;
            }
        }

        form {
            .form-group {
                .error {
                    display: none;
                }

                label {
                    font-weight: 600;
                    letter-spacing: -0.16px;
                }

                .form-control {
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid $tertiary;
                    font-size: 18px;
                    color: $white;
                    padding: 0;
                    padding-bottom: 10px;
                    line-height: 1;
                    outline: none;
                    box-shadow: none;
                    font-weight: 600;
                    transition: 0.1s all;

                    &::placeholder {
                        color: $tertiary;
                        font-weight: 400;
                    }

                    &:focus {
                        border-color: $primary;
                    }
                }

                .form-check {
                    label.form-check-label {
                        color: $tertiary;
                        font-weight: 400;
                    }

                    input.form-check-input {
                        outline: none;
                        box-shadow: none;
                        background: transparent;
                        transition: 0.1s all;

                        &:checked {
                            border-width: 4px;
                        }

                        &.is-valid,
                        &:valid {
                            border-color: $primary;
                        }
                    }
                }
            }
        }
    }

    section.trusted {
        .trusted-bg {
            mix-blend-mode: soft-light;
        }
    }

    section.blue-gradient {
        background: var(--Light-Blue, linear-gradient(126deg, #253B66 7.98%, #244990 96.65%));
    }

    section.welcome {
        position: relative;
        z-index: 1;
        padding: 140px 0;

        .awardCard {
            padding: 21px 24px;
            background: rgba(23, 157, 219, 0.2);
            text-align: center;
        }

        .welcome-circle-bg {
            width: 60rem;
            height: 60rem;
            filter: blur(500px);
        }

        .welcome-bg {
            mix-blend-mode: soft-light;
        }
    }

    section.help {
        padding: 140px 0;

        .helpCard {
            position: relative;
            z-index: 1;
            transition: 0.35s all ease;

            .overlay {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(7, 23, 53, 0.95);
                padding: 32px 27px 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                transition: 0.35s all ease;

                .title {
                    font-size: 24px;
                    width: 100%;
                    font-weight: 700;
                    line-height: 1;
                    text-transform: capitalize;
                }

                .btn {
                    height: 45px;
                    display: inline-flex;
                }

                &:hover {
                    background: rgba(7, 23, 53, 0);
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    section.process {
        padding: 140px 0;

        .processCard {
            background: rgba(23, 157, 219, 0.2);
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            position: relative;
            padding: 21px 24px;
            transition: 0.3s all;
            opacity: 0.5;

            .number {
                position: absolute;
                font-size: 24px;
                font-weight: 800;
                top: 12px;
                left: 12px;
                color: $secondary;
            }

            .arrow {
                position: absolute;
                right: -16px;
                top: 42%;
                transition: 0.3s all;
                opacity: 0;
            }

            &:hover {
                opacity: 1;
                transform: scale(1.05);

                .arrow {
                    opacity: 1;
                }
            }
        }
    }

    section.expect {
        padding: 140px 0;

        .expect-slider {
            .box {
                position: relative;
                width: 274px;
                margin: 16px 0;
                margin-right: 1.125rem;
                z-index: 1;
                transition: 0.35s all ease;
    
                .overlay {
                    position: absolute;
                    background: linear-gradient(rgba(18, 32, 57, 0.9) 0% 65%, #152F5F 100%);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    text-transform: capitalize;
                    font-size: 24px;
                    padding: 19px 16px;
                    font-weight: 800;
                    line-height: 1;
                    display: flex;
                    align-items: end;
                    transition: 0.35s all ease;
                }

                &:hover {
                    transform: scale(1.05);
    
                    .overlay {
                        opacity: 0;
                    }
                }
    
                img {
                    position: relative;
                    z-index: -2;
                }
            }
        }
    }

    section.project {
        padding: 140px 0;

        .main {
            background: rgba(123, 157, 219, 0.2);
            padding: 30px;
        }
    }

    section.customers {
        .testimonials-slider {
            .testimonial {
                width: 352px;
                margin-right: 1rem;
            }
        }
    }
}